.btn.btn-Orchids_For_Everyone {
    background-color: $secondary-color;
    color: aliceblue;
}

.btn.btn-primary {
    background-color: $form-colour-one;
}

.button{
    background-color: $primary-color;
    border-radius: 10px;
    height:auto;
    width:auto;
}